    <div class="col-6">
        <div class="form-floating mb-6">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Email}}" placeholder="Email" name = "Email">
            <label for="floatingInput">Email</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-6">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Password}}" placeholder="Password" name = "Password">
            <label for="floatingInput">Password</label>
        </div>
    </div>  
    <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Sign in</button>
  </div>    