
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Video Streaming Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class ='d-flex mb-3'>
          <div class="me-auto p-2"><img src="assets/logo.jpg" alt="logo page" /><a class="navbar-brand" href="/">Video Streaming Management</a></div>
          <div class="p-1"><a class="d-flex"><a href="/signup" type="button"><button class="btn btn-outline-light " type="submit">Sign up</button></a></div>
          <div class="p-1"><a class="d-flex"><a href="/signin" type="button"><button class="btn btn-outline-light" type="submit">Sign in</button></a></div>
        </div>
        <h:panelGroup rendered="#{condition}">
          <h:outputText value="text 1"/>
          <h:outputText value="text 2"/>
          <h:outputText value="text 3"/>
        </h:panelGroup>
      </div>
  </nav> 

  <div class="jumpotron">
    <div class="container container-fluid">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a class="nav-link active" href="/">Movies</a></li>
          <li class="list-group-item"><a class="nav-link active" href="/series">Series</a></li>
        </ul>
      </div>
      <div class="pt-5 pb-5">
        {{{body}}}
      </div>
    </div>
  </div>
      
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>