<table class="table" href="home.hbs">
  <thead> <!-- header -->
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Release</th>
        <th scope="col">Views</th>
        <th scope="col" class="text-end">Genres</th>
        <th scope="col">Link</th> <!--lam thanh cai cho de mo video -->
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>200</td>
      <td>Horror</td>
      <td>
        <a href="https://www.youtube.com/watch?v=1aXZQcG2Y6I&t=1375s" class="btn btn-light btn-small"><i class= "bi bi-link"></i> Link </a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>300</td>
      <td>Comedy</td>
      <td>
        <a href="https://www.youtube.com/watch?v=1aXZQcG2Y6I&t=1375s" class="btn btn-light btn-small"><i class= "bi bi-link"></i> Link </a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>400</td>
      <td>Sci-fi</td>
      <td>
        <a href="https://www.youtube.com/watch?v=1aXZQcG2Y6I&t=1375s" class="btn btn-light btn-small"><i class= "bi bi-link"></i> Link </a>
      </td>
    </tr>
  </tbody>
</table>